<style>



.primaryButtons {
  background: #f3d17b;
  margin-bottom: 10px;
  border: 1px solid #4e4e4e;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: bold;
}
.ReportTable {
  border-collapse: collapse;
  padding: 5px;
  width: 98%;
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #e5e5e5
}

.ReportTable th {
  border: 2px solid #c9c4c4;
  font-weight: bold;
  padding: 8px;
  background: #F0F0F0;
}

.ReportTable td {
  border: 2px solid #c9c4c4;
  padding: 8px;
}

.ResaultTableSo {
  width: 100%;
  border-collapse: collapse;
  padding: 5px;
}

.ResaultTableSo th {
  border: 1px solid #C0C0C0;
  font-weight: bold;
  padding: 8px;
  background: #F0F0F0;
}

.ResaultTableSo td {
  border-bottom: 2px solid #F0F0F0;
  padding: 8px;
}
.loaderCust {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0.7;
  z-index: 99;

  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>